@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* Home Page */

.w-30 {
    width: 30%;
}

#th-index:hover,
#th-title:hover,
#th-rating:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* About Page */

.about-card {
    width: 24rem;
    background-color:antiquewhite;
}
.about-card .card-img-top {
    height: 24rem;
    object-position: top;
    object-fit: cover;
}

.carousel-item {
    height: 26rem;
    width: 100%;
}

.gradient-orange {
    background: linear-gradient(135deg, #d38312, #a83279);
}
.gradient-blue {
    background: linear-gradient(135deg, #132e5f, #416fbd);
}
.gradient-green {
    background: linear-gradient(135deg, #11998e, #38ef7d);
}
.gradient-purple {
    background: linear-gradient(135deg, #6a3093, #a044ff);
}
.gradient {
    background-size: 400% 400%;    
    animation: animatedGradient 15s ease infinite;
    -moz-animation: animatedGradient 15s ease infinite;
    -webkit-animation: animatedGradient 15s ease infinite;
}
@keyframes animatedGradient {
    0%      { background-position: 0% 0% }
    50%     { background-position: 100% 100% }
    100%    { background-position: 0% 0% }
}
@-moz-keyframes animatedGradient {
    0%      { background-position: 0% 0% }
    50%     { background-position: 100% 100% }
    100%    { background-position: 0% 0% }
}
@-webkit-keyframes animatedGradient {
    0%      { background-position: 0% 0% }
    50%     { background-position: 100% 100% }
    100%    { background-position: 0% 0% }
}


/* Contact Page */

#form-submit {
    font-weight: bold;
}
